:root {
	--main-bg-color: #01011c;
	--main-text-color: #b4b4bf;
	--main-text-color-dark: #131314;
	--topbar-size: 75px;
	--topbar-color: #8a0f17;
	--profile-button-size: 300px;
}

body {
	background-color: var(--main-bg-color);
}

@import url("topbar.css");
@import url("bannerButton.css");
@import url("frontpage.css");
@import url("profileButton.css");
@import url("login.css");
@import url("add-match.css");

/* The buttons in the confirmation popup */
.confirmationButtons {
	display: flex;
	margin: 0;
	justify-content: center;
	align-items: center;
}

/* the title of each page */
.page-title {
	color: var(--main-text-color);
	text-align: center;
	padding-top: 75px;
	padding-bottom: 75px;
}


.leaderboard {
}

