.profile {

}

.profile-main {
	display: flex;
	width: 100%;
	height: 500px;
	justify-content: space-between;
}

.profile-main-logo {
	text-align: center;
}

.profile-main-desc {
	margin-top: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	padding: 20px;
	height: calc(100% - 40px - 100px);

	width: 100%;

	border-style: solid;
	border-width: 1px;
	border-color: var(--topbar-color);
	border-radius: 10px;
}

.profile-picture {
	border-radius: 50%;
	margin: 0px;
	padding: 50px;
	/* width: 50%; */
	height: calc(100% - 100px - 42px);
	aspect-ratio: 1 / 1;
}

.profile-first-line {
	display: flex;
	width: calc(100% - 50);
	justify-content: right;
	gap: 20px;
	padding-right: 50px;
}
